$body-bg: #f5f7fa;

@use "bootstrap/scss/bootstrap";

.discussion-menu a {
  @extend .nav-link;
  padding: 0 0.5rem;
}

.card-img-top {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

[dark-bs-theme="dark"] {
  .nav-link {
    color: #ccc;

    &.active {
      background-color: blue;
      color: white !important;
    }
  }

  .card {
    background-color: #333;
    color: #eee;
    border: 1px solid #444;
  }

  .form-control {
    background-color: #222;
    color: #fff;
    border-color: #444;

    &::placeholder {
      color: #aaa;
    }
  }

  [data-bs-theme="light"] {
    color: white;
    border-color: white;
    background-color: transparent;
  }
}

[data-bs-theme="light"] {
  [data-bs-theme-value="dark"] {
    color: black;
    border-color: black;
    background-color: transparent;
  }

  [data-bs-theme-value="light"] {
    color: black;
    border-color: black;
    background-color: white;
  }
}
